body {
    color: rgb(109, 118, 150) 7.1%;
}

.card {
    margin: 120px;
    box-sizing: weather-app-frame;
    border-radius: 35px;
    box-shadow: 0 30px 50px rgb(65 50 100 / 8%);
    border-width: 5px;
    border-color:rgb(89, 72, 79) 14.7%;
}

.card,
::after,
::before {
    box-sizing: weather-app-frame;
}

header {
    color: #977517;
    font-family: sans-serif;
    font-size: 26px;
    font-weight: bold;
    padding: 300;
    margin-left: 15px;
    margin-top: 15px;
    text-align: left;
}

.col {
    margin-left: 15px;
}

.Tues,
.Wed,
.Thu,
.Fri {
    color: #977517;
    font-family: sans-serif;
    font-weight: 120px;
    font-size: 15px;
    cursor: pointer;
}

.fa-sun,
.fa-cloud-sun,
.fa-cloud {
    width: 120px;
    size: 100px;
    padding: 200;
}

.Greetings {
    display: block;
    text-shadow: 16px 7px 5px rgba(151, 117, 23, 0.5);
    color: #977517;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.weather-app {
    background: linear-gradient(102.2deg,
            rgb(109, 118, 150) 7.1%,
            rgb(89, 72, 79) 14.7%,
            rgb(69, 92, 79) 28%,
            rgb(204, 85, 67) 43.4%,
            rgb(237, 181, 121) 60.2%,
            rgb(219, 230, 175) 76.8%);
    border-radius: 20px;
    box-shadow: 0 30px 50px rgb(65 50 100 / 8%);
    border-color: lightgrey; 
    display: block;
    text-align: left;
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;  
    padding: 38px;
    font-size: 25px;
    font-weight: 28px;
}

.weather-app,
::after,
::before {
    box-sizing: weather-app-frame;
}

.weather-date:hover,
.weather-time:hover,
.weather-temperature:hover,
.weather-location:hover {
    color: darkblue;
    transition: all 150ms ease;
    font-weight: bold;
}

a:any-link {
    color:#f1a522;
    font-family: sans-serif;
    font-weight: bold; 
    padding: 40px;
}

a:any-link:hover {
    transition: all 150ms ease;
    font-weight: bold;
    cursor: pointer;
    color: darkblue;
}

.Today,
.weather-main {
    display: block;
    font-family: sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: white;
    margin-top: 5px;
    text-align: center;
}

.Today:hover,
.weather-main:hover {
    color: darkblue;
    transition: all 150ms ease;
    font-size: 50px;
}

form {
    display: block;
    font-size: 50px;
    font-family: sans-serif;
    text-align: center;
    border-color: rgb(204, 85, 67) 43.4%;
    border-radius: 30px;
    box-shadow: 0 30px 50px rgb(65 50 100 / 8%);
    border-width: 5px;
    border-color: lightgrey;
    margin: 0 auto; 
}

.button-city-search.button-city-search {
    display: in-line;
    background: rgb(204, 85, 67) 43.4% ;
    color: #faf6ef;
    border: 10px round;
    border-color: rgb(89, 72, 79) 14.7%;
    font-family: sans-serif;
    font-size: 25px;
    size: 30px;
    border-radius: 30px;
    margin: 0 auto; 
    margin-top: 
}

.button-city-search:hover {
    color: rgb(219, 230, 175) 76.8% ;
    background-color: rgb(219, 230, 175) 76.8%; 
    cursor: pointer;
    transition: all 150ms ease;
}

footer {
    color: #f1a522;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 18px; 
    text-align: center;
    margin: 0 auto; 
}